@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
	--gradient1: linear-gradient(90deg, rgba(199,191,23,0.6138830532212884) 0%, rgba(250,195,65,0.8463760504201681) 100%); /*CLEAR_SKY*/
	--gradient2: linear-gradient(90deg, #72EDF2 10%, #5151E5 100%); /* FEW/SCATTERED */
	--gradient3: linear-gradient(90deg, rgba(61,61,61,1) 0%, rgba(86,199,209,0.5676645658263305) 50%, rgba(102,178,208,1) 100%); /* BROKEN CLOUDS*/
	--gradient4: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(186,238,255,1) 100%); /*RAIN/ SHOWER  */
	--gradient5: linear-gradient(90deg, rgba(223,223,223,1) 0%, rgba(236,249,52,0.5676645658263305) 50%, rgba(24,191,255,0.7637429971988796) 100%); /*THUNDER  */
	--gradient6: linear-gradient(90deg, rgba(113,205,255,0.8) 0%, rgba(255,255,255,0.7525385154061625) 100%); /* SNOW */
	--gradient7: linear-gradient(90deg, rgba(164,174,180,0.5) 0%, rgba(255,255,255,0.5) 100%); /* MIST */


	--gradient1n: linear-gradient(90deg, rgba(130,158,156,0.8631827731092436) 0%, rgba(1,67,89,0.8295693277310925) 100%); /*CLEAR_SKY*/
	--gradient2n:linear-gradient(270deg, rgba(88,167,171,0.7959558823529411) 0%, rgba(49,49,121,0.8603816526610644) 100%); /* FEW/SCATTERED */
	--gradient3n: linear-gradient(90deg, rgba(61,61,61,1) 0%, rgba(86,199,209,0.5676645658263305) 50%, rgba(102,178,208,1) 100%); /* BROKEN CLOUDS*/
	--gradient4n: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(186,238,255,1) 100%); /*RAIN/ SHOWER  */
	--gradient5n: linear-gradient(90deg, rgba(223,223,223,1) 0%, rgba(236,249,52,0.5676645658263305) 50%, rgba(24,191,255,0.7637429971988796) 100%); /*THUNDER  */
	--gradient6n: linear-gradient(90deg, rgba(113,205,255,1) 0%, rgba(255,255,255,0.7525385154061625) 100%); /* SNOW */
	--gradient7n: linear-gradient(90deg, rgba(164,174,180,0.5) 0%, rgba(255,255,255,0.7525385154061625) 100%); /* MIST */
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.clear {
	clear: both;
}

body {
	margin: 0;
	width: 100%;
	height: 90vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #343d4b;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.container {
	/* display: flex;
	flex-direction: column;
	gap:2rem; */


	/*======MODE========*/
	border-radius: 25px;
	-webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	background-color: #222831;
	color: #ffffff;
	height: 400px;
}

.weather-side {
	position: relative;
	height: 100%;
	border-radius: 25px;
	width: 300px;
	background-position:center;
	background-size: cover;
	-webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	-webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
	        transform: translateZ(0) scale(1.02) perspective(1000px);
	float:right;
}

.status{

}

.weather-side:hover {
	-webkit-transform: scale(1.05) perspective(1500px);
	        transform: scale(1.05) perspective(1500px);
}

.weather-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	border-radius: 25px;
	opacity: 0.8;


}


.date-container {
	position: absolute;
	top: 25px;
	left: 25px;
}

.date-dayname {
	margin: 0;
}

.date-day {
	display: block;
}

.location {
	display: inline-block;
	margin-top: 10px;
}

.location-icon {
	display: inline-block;
	height: 0.8em;
	width: auto;
	margin-right: 5px;
}

.weather-big_icon{
	position: absolute;
	right:10px;
	top: 10px;

}

.weather-container {
	position: absolute;
	bottom: 25px;
	left: 25px;
}

.weather-icon.feather {
	height: 60px;
	width: auto;
}

.weather-temp {
	margin: 0;
	font-weight: 700;
	font-size: 3em;
}

.weather-desc {
	margin: 0;
}


.switch-toggle {
    height: 30px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.switch-toggle input[type="checkbox"] {
    display:none;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
	border: 2px #fff solid;
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: 'C°';
	color: #222831;
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    padding-left: 3px;
    top: 3px;
    left: 4px;
    width: 35px;
    height: 20px;
    border-radius: 20px;
	font-weight: 700;
    background-color: rgb(193, 193, 193);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 45%;
    content: 'F°';
    color: #fff;
    font-weight: 700;
    background-color: #222831;
}

.info-side {

	position: relative;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-top: 25px;
}

.today-info {
	padding: 15px;
	margin: 0 25px 25px 25px;
	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.today-info>div:not(:last-child) {
	margin: 0 0 10px 0;
}

.today-info>div .title {
	float: left;
	font-weight: 700;
}

.today-info>div .value {
	float: right;
}

.week-list {
	list-style-type: none;
	padding: 0;
	margin: 10px 35px;
	-webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.week-list>li {
	float: left;
	padding: 15px;
	cursor: pointer;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	border-radius: 10px;
}

.week-list>li:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	background:rgb(193, 193, 193);
	color: #222831;
	-webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.week-list>li.active {
	background: rgb(193, 193, 193);
	color: #222831;
	border-radius: 10px;
}

.week-list>li .day-name {
	display: block;
	margin: 10px 0 0 0;
	text-align: center;
}

.week-list>li img {
	display: block;
	height: 40px;
	width: auto;
	margin: 0 auto;
}

.week-list>li .day-temp {
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-weight: 700;
}

.location-container {
	padding: 25px 35px;
}

.location-button {
	outline: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
	border-radius: 25px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-weight: 700;
	-webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	-webkit-transition: -webkit-transform 200ms ease;
	transition: -webkit-transform 200ms ease;
	-o-transition: transform 200ms ease;
	transition: transform 200ms ease;
	transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
}

.location-button .feather {
	height: 1em;
	width: auto;
	margin-right: 5px;
}

.repository{
	position: fixed;
	right: 50px;
	bottom: 50px;
	background-color: #fff;
	border-radius: 50%;
	text-decoration: none;
}

.repository:hover {
	-webkit-transform: scale(1.1) perspective(1500px);
	        transform: scale(1.1) perspective(1500px);
			background-color: #28d3e7;
			
}	
.link-repository{
	text-decoration: none;
	color: inherit;
}

.bxl-github{
	font-size: 75px;
	text-decoration: none;
	color: #28d3e7;
}

.bxl-github:hover{
	color:#fff;
}

details {
	position: relative;
	 margin: 0rem 2rem; 
}

details[open] {
	z-index: 1;
}

summary{
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	border-radius: 25px;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	margin-right: 4px;
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 3px solid currentColor;
	border-left: 3px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

input[title]{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.custom-select ul {
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 10px;
	max-height: 200px;
	overflow-y: auto;
}

.custom-select li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
	list-style-type: none; 
}

.custom-select li:first-child {
	padding-top: 0;
}

.custom-select li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}


.custom-select summary.radios {
	counter-reset: radios;
}

.custom-select summary.radios:before {
	content: var(--selection);
}

.custom-select input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.custom-select input[type=radio]:checked {
	display: inline;
	--display: block;
}

.custom-select input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}


.custom-select ul.list {
	counter-reset: labels;
}

.custom-select label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.custom-select label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}


.clock{
	border-radius: 70px;
	border: 3px solid #fff;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 120px;
  height: 120px;
}

.clock:after{
	content: "";
	position: absolute;
	background-color: #fff;
	top: 13px;
	left: 48%;
	height: 50px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #fff;
	top: 24px;
	left: 48%;
	height: 40px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

@media (max-width: 700px) {
	.weather-side {
		width: 250px;
	}
	.container {
		height: 300px;
	}

	.week-container{
		display: none;
	}
	.info-side {
		width: 250px;
	}

	
	.today-info>div .title {
		font-size: 14px;
		float: left;
		width: 30px;
	}

	.today-info>div .value {
	float: right;
	font-size: 14px;
	}

	input[title]{
		font-weight: 600;
	}
	
	
	details {
		position: relative;
		 margin: 0rem 0rem; 
	}
	summary{
		padding: 0.5rem 0rem;
	}

	summary:after {
		margin-right: 14px;

	}
	.date-container {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	.weather-big_icon{
		position: absolute;
		right:0px;
		top: 0px;
	}

	.weather-container {
		position: absolute;
		bottom: 15px;
		left: 15px;
	}

	.repository{
		right: 25px;
		bottom: 25px;
	}

	.bxl-github{
		font-size: 50px;
	}
}

@media (max-width: 525px) {
	.info-side {
		display: none;
	}
}